<div>
								<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;padding-top: 10px;margin-bottom:20px;margin-left:10px;">
							        	<label style="font-size: 18px;" class="boldCondensed">Detalhamento do envio</label>
			           			</div>
			           			<div style="display: block;padding-bottom: 10px;padding-top: 10px;margin-left:10px;">
								    <div class="row">
			            				<div style="width: 90px;">
							        		<label style="font-size: 16px;">Situação</label>
								    	 </div>
								    	 <div>
								    	 	<label style="font-size: 16px;">{{dto.msgStatus}}</label>
								    	 </div>
            						</div>
								    <div class="row">
			            				<div style="width: 90px;">
							        		<label style="font-size: 16px;">Filtro</label>
								    	 </div>
								    	 <div class="row">
								    	 	<div>
								    	 		<div class="row noPM">
											    	 <md-select class="noPM"  style="font-size: 16px;padding-top:5px!important" placeholder="Escolha um filtro" ng-model="dto.filterType" disabled >
													    <md-option value="1">Para toda a instituição</md-option>
													    <md-option value="2">Para turmas de um professor</md-option>
													    <md-option value="3">Para alunos</md-option>
													 </md-select>
												 </div>
												 <div class="row noPM" ng-if="dto.filterType == 2">
											    	  <md-select class="noPM" style="font-size: 16px;padding-top:5px!important" placeholder="Escolha um professor" ng-model="dto.selectedProfessor" disabled>
													    <md-option value="Marcelo">Marcelo</md-option>
													    <md-option value="Rafael">Rafael</md-option>
													    <md-option value="Gabriela">Gabriela</md-option>
													 </md-select>
								    	 		</div>
												 <div class="row" ng-if="dto.selectedProfessor != null">
											    	 <md-checkbox class="noPM" style="padding-top:5px!important;margin-right:10px !important;padding-left:20px !important;max-width: 300px;width:100%; font-size: 16px;" ng-repeat="item in dto.selectedClasses" ng-checked="exists(item, dto.teachersClasses)" disabled>
											        	{{ item }} 
											        </md-checkbox>
								    	 		</div>
								    	 	</div>
								    	 </div>
            						</div>
            						<div class="row">
			            				<div style="width: 90px;">
							        		<label style="font-size: 16px;">Título</label>
								    	 </div>
								    	 <div>
								    	 	<label style="font-size: 16px;">{{dto.titulo}}</label>
								    	 </div>
            						</div>
            						<div class="row">
			            				<div style="width: 90px;">
							        		<label style="font-size: 16px;">Mensagem</label>
								    	 </div>
								    	 <div>
								    	 	<label style="font-size: 16px;">{{dto.msg}}</label>
								    	 </div>
            						</div>
							    </div>
							    <div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;padding-top: 10px;margin-bottom:20px;margin-left:10px;">
					        		<label style="font-size: 18px;" class="boldCondensed">Plataformas enviadas</label>
		           				</div>
		           				 <div style="display: block;padding-bottom: 10px;padding-top: 10px;margin-bottom:20px;margin-left:10px;">
								    <md-content class="noPM" flex>
									    <md-checkbox ng-if="dto.pushNotification" ng-model="dto.pushNotification" disabled>
											 Notificação no celular
										</md-checkbox>
										
								    	<md-checkbox ng-if="false" disabled>
											 Email [EM BREVE}]
										</md-checkbox>
									    <md-checkbox  ng-if="false" disabled>
									    	  SMS [EM BREVE}]
									    </md-checkbox>
					        		</md-content>
				        		</div>
							</div>