<ion-view title="Enviar mensagem" class="noPM">
	<!-- RIGHT BUTTONS -->
<!-- 	<ion-nav-buttons side="right" >  -->
<!-- 		<button id="notificationPopover" ng-click="openPopover($event)"  class="notificationPopover button  button-icon button-clear noPM" ng-controller="UnsawNotficiationsPopoverCtrl" > -->
<!-- 			<span ng-style="{color : unsawNotficiationsSize > 0 ? 'rgba(0, 0, 0, 0.79)' : 'rgba(0, 0, 0, 0.79)'}" class="ion-android-globe" style="font-size: 34px;position: relative;left: -12px;"> -->
<!-- 				<span ng-if="unsawNotficiationsSize > 0"  class="badge badge-assertive" style="left: 16px;top: -2px;font-size: 12px;position: absolute;">{{unsawNotficiationsSize}}</span> -->
<!-- 			</span> -->
<!-- 		</button> -->
<!-- 	</ion-nav-buttons> -->
	<!-- SUBHEADER -->
	<ion-header-bar  id="subHeader1" class="noPM subHeaderAnimationCondition " no-tap-scroll="true" style="border:none;height: 34px;" >
	       <tab-slide-box whenready="{{dto}}" class="noPM"  >
			    	<div id="tsbIcons" class="tsb-icons backgroundInstitution1"  >
			    		<div class="tsb-ic-wrp backgroundInstitution1 shadowed" style="height: 35px !important;">
							<ion-scroll direction="x" class="tsb-hscroll noPM row">
								<md-button  class="boldCondensed noRadius tabbedItemW " ng-disabled="dto.showResultTab">Quem</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW" ng-disabled="!dto.showWhereTab || dto.showResultTab" >Mensagem</md-button>
								<md-button  class="boldCondensed noRadius tabbedItemW" ng-disabled="!dto.showResultTab">Resultado</md-button>
							</ion-scroll>
						</div>
			    	</div>
          	</tab-slide-box>	
	</ion-header-bar>
	<!-- CONTENT -->
	<ion-content style="top:104px;margin-bottom: 30px !important;" >
		{{teste}}
		<div class="row noPM">
        <ion-slide-box   show-pager="false" on-slide-changed="slideHasChanged($index)" style="background: white;width:100%;" ng-style="{'padding-top' : dto.isUpdated == true }">
            <ion-slide>
            	<div style="text-align: left;margin-left:20px;padding: 10px 0px;height: 100%;">
           			<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;margin-bottom:20px;">
			        	<label style="font-size: 18px;" class="boldCondensed">Defina para quem deseja enviar </label>
           			</div>
            		<div style="width: 100%;">
            			<div class="row">
            				<div style="width: 90px;">
				        		<label style="font-size: 16px;">Filtro</label>
					    	 </div>
					    	 <div>
								 <md-select ng-model="dto.selectedFilter" md-on-open="loadFilters()" style="min-width: 200px;">
								 	<md-select-label>{{ dto.selectedFilter ? dto.selectedFilter.value : 'Escolha um filtro' }}</md-select-label>
								 	<md-option ng-value="filter" ng-repeat="filter in dto.filters">{{filter.value}}</md-option>
							   	 </md-select>
					    	 </div>
            			</div>
				        <div ng-if="dto.selectedFilter.key == 'forMyClasses' || dto.selectedFilter.key == 'forClassesOfProfessor'" style="padding-top: 20px;">
							<div ng-if="dto.selectedFilter.key == 'forClassesOfProfessor'" class="row" >
			        			<div style="width: 90px;">
				        			<label style="font-size: 16px;">Professor</label>
			        			</div>
			        			<div>
									 <md-select ng-model="dto.selectedTeacher" md-on-open="loadTeachers()" style="min-width: 200px;">
									      <md-select-label>{{ dto.selectedTeacher ? dto.selectedTeacher.name : 'Escolha um professor' }}</md-select-label>
									      <md-option ng-value="teacher" ng-repeat="teacher in dto.teachers">{{teacher.name}}</md-option>
								   	 </md-select>
			        			</div>
							</div>	
							<div ng-if="dto.selectedFilter.key == 'forMyClasses' || dto.selectedTeacher != null" style="padding-top: 20px;">
								<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;margin-bottom:20px;">
			        				<label style="font-size: 18px;" class="boldCondensed">Selecione as turmas</label>
           						</div>
            					<div>
									<md-checkbox class="noPM" style="padding-left:20px !important;max-width: 300px;width:100%; font-size: 16px;" ng-repeat="item in dto.classes" ng-checked="exists(item.id, dto.selectedClasses)" ng-click="toggle(item.id, dto.selectedClasses)">
							        	{{ item.nome }} 
							        </md-checkbox>
            					</div>
							 </div>
				        </div>
				        <div ng-if="dto.selectedFilter.key == 'forMyStudents' || dto.selectedFilter.key == 'forStudents'" style="padding-top: 20px;">
				        	<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;margin-bottom:20px;">
			        			<label style="font-size: 18px;" class="boldCondensed">Selecione os alunos</label>
           					</div>
					        <div>
							   <md-checkbox class="noPM" style="padding-left:20px !important;max-width: 300px;width:100%; font-size: 16px;" ng-repeat="item in dto.students" ng-checked="exists(item.id, dto.selectedStudents)" ng-click="toggle(item.id, dto.selectedStudents)">
							        	{{ item.nome }} 
							   </md-checkbox>
							 </div>
				        </div>
				        
				        <div ng-if="dto.selectedFilter.key == 'forCourses'" style="padding-top: 20px;">
				        	<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;margin-bottom:20px;">
			        			<label style="font-size: 18px;" class="boldCondensed">Selecione os cursos</label>
           					</div>
					        <div>
							   <md-checkbox class="noPM" style="padding-left:20px !important;max-width: 300px;width:100%; font-size: 16px;" ng-repeat="item in dto.courses" ng-checked="exists(item.id, dto.selectedCourses)" ng-click="toggle(item.id, dto.selectedCourses)">
							        	{{ item.name }} 
							   </md-checkbox>
							 </div>
				        </div>
				        <div style="padding-top: 20px;">
							<md-button class="md-raised centralized" ng-disabled="!dto.showWhereTab" ng-click="slide(1)">Próximo passo</md-button>
				        </div>
            		</div>
			  	</div>
            </ion-slide>
            <ion-slide ng-if="dto.showWhereTab" class="centralized">
            	<div style="text-align: left;">
					<md-content >
					    <md-input-container>
					      <label style="font-size: 18px;">Título</label>
					      <input ng-model="dto.title" columns="1" md-maxlength="100">
					    </md-input-container>
				    </md-content>
					<md-content>
					    <md-input-container flex>
					        <label style="font-size: 18px;">Mensagem</label>
					         <textarea ng-model="dto.message" columns="1" md-maxlength="150"></textarea>
					    </md-input-container>
				    </md-content>
				    <md-content flex>
				    	<div style="display: block;border-bottom: 1px solid rgb(52, 127, 127);padding-bottom: 10px;padding-top: 10px;margin-bottom:20px;margin-left:10px;">
				        	<label style="font-size: 18px;" class="boldCondensed">Defina a plataforma de envio</label>
	           			</div>
					    <md-checkbox ng-model="dto.pushNotification" disabled>
							 Notificação no celular
						</md-checkbox>
				    	<md-checkbox  disabled>
							 Email [EM BREVE}]
						</md-checkbox>
					    <md-checkbox  disabled>
					    	  SMS [EM BREVE}]
					    </md-checkbox>
	        		</<md-content>
			        <div style="padding-top: 20px;padding-left:10px">
						<md-button class="md-raised centralized" ng-disabled="!dto.canSend" ng-click="sendMessage($event);">Enviar mensagem</md-button>
						<br/>
			        </div>
			  	</div>
            </ion-slide>
            <ion-slide ng-if="dto.showResultTab" ng-if="dto.showWhereTab" class="centralized">
            		<div style="float: left;width: 100%;">
				        <div style="padding-top: 20px;padding-left:10px">
				        	<div style="margin-top: 10%;margin-bottom: 20%;text-align: center;">
								<div class="ion-ios-compose-outline" style="font-size: 100px;"></div>
								<label>Mensagem enviada com sucesso!</label>
								<div>
									<label>Dentro de alguns minutos as mensagens serão entregues.</label>
								</div>
								<br/>
								<md-button class="md-raised centralized" ng-disabled="!dto.canSend" ng-click="clear();">Nova Mensagem</md-button>
							 </div>
				        </div>
            		</div>
            </ion-slide>
        </ion-slide-box>
        </div>
	</ion-content>
	
</ion-view>
