 <ion-view title="Seja bem vindo ao Triga" left-buttons="leftButtons" right-buttons="rightButtons">
   <ion-content has-header="true" style="background:rgb(11, 101, 102);">
										  
	<div class="loginCenter " style="width: 300px;">
		<div class="centralized" style="margin-bottom: 0px;text-align: center;font-size: 12px;" >
			<div class="centralized" style="background-size: 145px 145px !important;width: 145px;height:145px;background: url(img/triga3.jpg) no-repeat center center;"></div>
		</div>
		<form ng-submit="signIn($event,username,password,selectedInstitution)">
			<div style="padding: 20px;">
		        <label  style="font-size: 20px !important;"><i class="icon ion-podium" style="margin-right: 10px;"></i>Instituição</label>
		        <md-select required="" ng-model="selectedInstitution" md-on-open="loadIntitutions()" style="min-width: 200px;width:100%;">
					<md-select-label>{{ selectedInstitution ? selectedInstitution.name : 'Selecione sua instituição' }}</md-select-label>
					<md-option  ng-value="intitution" ng-repeat="intitution in institutions">{{intitution.name}}</md-option>
		   	 	</md-select>
			   	<md-input-container style="padding-bottom: 0px;width:100%;"  flex >
			        <label  style="font-size: 20px !important;"><i class="icon ion-at" style="margin-right: 10px;"></i>Email</label>
			        <!-- colocar conditional autofocus -->
					<input  type="email" style="font-size: 18px !important;width:100%;" ng-model="username"></input>
		       </md-input-container>
			   	<md-input-container style="padding-bottom: 0px;width:100%;"  flex >
			        <label  style="font-size: 20px !important;"><i class="icon ion-at" style="margin-right: 10px;"></i>Senha</label>
			        <!-- colocar conditional autofocus -->
					<input type="password"  style="font-size: 18px !important;width:100%;" ng-model="password"></input>
		       </md-input-container>
	<!-- 	   	<md-input-container  flex style="padding-bottom: 0px;"> -->
	<!-- 	   		<label  style="font-size: 20px !important;"><i class="icon ion-ios-person" style="margin-right: 10px;"></i>Usuario</label> -->
	<!-- 			<input input style="font-size: 18px !important;"ng-model="username"></input> -->
	<!--        </md-input-container> -->
	<!-- 	   	<md-input-container flex > -->
	<!-- 	   		<label  style="font-size: 20px !important;"><i class="icon ion-ios-person" style="margin-right: 10px;"></i>Senha</label> -->
	<!-- 			<input input style="font-size: 18px !important;" ng-model="password"></input> -->
	<!--        </md-input-container> -->
				<br/>
		  		<md-button type="submit" class="md-raised button-block" style="background: #FABD10;height:50px;">LOG IN</md-button>
		  		
		</div>
		</form>
     <div>
       </div>
					</div>					  
   </ion-content>
 </ion-view>