  <ion-content class="noPM" style="top: 64px;">
		<ion-scroll style="width: 40%;float:left;height: 100%;">
			<md-toolbar style="background: #EEEEEE;" class="shadowed">
			    <div class="md-toolbar-tools">
			      <h3>
			        <span>Filtros</span>
			      </h3>
			    </div>
			  </md-toolbar>
			<md-content class="chipsdemoContactChips" style="box-shadow: 0 1px rgb(224,224,224);overflow: hidden;">
	  			<div class="row noPM" style="box-shadow: 0 1px rgb(224,224,224);height: 74px;">
	  				<div style="padding-top: 10px;margin-right: 10px;">
						<h3 class="md-title" style="margin-bottom:0px;padding-left:10px;padding-top:10px;">Período:</h3>
	  				</div>
	  				<div style="width: 140px;">
						 <md-input-container>
				          <label style="font-size: 20px">Data inicial</label>
				          <input type="date" style="padding:0px;padding-bottom: 5px;" ng-model="initialDate">
				        </md-input-container>
	  				</div>
	  				<div style="width: 140px;">
						 <md-input-container>
				          <label style="font-size: 20px">Data Final</label>
				          <input type="date" style="padding:0px;padding-bottom: 5px;" ng-model="endDate">
				        </md-input-container>
	  				</div>
	  			</div>
	  			<div class="row noPM" style="width: 100%;box-shadow: 0 1px rgb(224,224,224);">
	  				<div style="padding-top: 10px;margin-right: 10px;width: 70px">
						<h3 class="md-title" style="margin-bottom:0px;padding-left:10px;padding-top:10px;">Perfil:</h3>
					</div>
					<div style="width: 100%;">
						<div class="row" style="width: 100%;">
							<div style="width: 100%;min-height: 74px;">
							    <md-contact-chips
							        ng-model="contacts"
							        md-contacts="querySearch($query)"
							        md-contact-name="name"
							        md-contact-image="image"
							        md-require-match
							        filter-selected="filterSelected"
							        placeholder="TODOS">
							    </md-contact-chips>
						    </div>
						</div>
						<div class="row noPM">
						    <md-list class="fixedRows" style="width: 100%;">
						      <md-subheader class="md-no-sticky">Selecione um perfil para filtar</md-subheader>
						      <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in allContacts"
						          ng-class="{'selected': !(contacts.indexOf(contact) < 0)}" ng-click="add(contact)" >
						        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
						        <div class="md-list-item-text compact">
						          <h3>{{contact.name}}</h3>
						          <p>{{contact.email}}</p>
						        </div>
						      </md-list-item>
						    </md-list>
					    </div>
				    </div>
			    </div>
			    <div class="row noPM">
			    	<div style="padding-top: 14px;margin-right: 10px;width: 70px">
			    		<h3 class="md-title" style="margin-bottom:0px;padding-left:10px;">Nome:</h3>
			    	</div>
			    	<md-contact-chips
				        ng-model="namesFilter"
				        md-contacts="searchNotifications($query)"
				        md-contact-name="autor"
				        md-contact-image="image"
				        md-contact-email="email"
				        md-require-match
				        filter-selected="filterSelected"
				        placeholder="Digite um nome para filtrar">
			    	</md-contact-chips>
		    	</div>
			  </md-content>
		</ion-scroll>
		<ion-scroll style="width: 30%;float:left;height: 100%;border-left: 1px solid rgba(0,0,0,.08);">
			<md-toolbar style="background: #EEEEEE;" class="shadowed">
			    <div class="md-toolbar-tools">
			      <h3>
			        <span>Notifcações</span>
			      </h3>
			    </div>
			  </md-toolbar>
		  	<div  style="padding:0px 0px;" layout="column" flex layout-fill>
		    	<div ng-if="filtereNotifications.length == 0" style="margin-top: 10%;margin-bottom: 20%;text-align: center;">
					<div class="ion-android-globe" style="font-size: 100px;"></div>
					<div style="font-size: 24px;">Nenhuma notificação!</div>
				</div>
		        <md-list class="noPM">
		        	<md-list-item ng-class="{ 'selected' : notification == detailNotification}" class="md-3-line noPM" ng-model="filtereNotifications" style="height:75px;" ng-repeat="notification in filtereNotifications track by $index"  ng-click="setDetailNotification(notification)">
			            <img ng-if="notification.notificationType == 'TRIGA'"  class="md-avatar"  ng-src="img/triga3.jpg"></img>
	           			<img ng-if="notification.notificationType == 'INSTITUTION'" class="md-avatar"  ng-src="{{institutionIcon}}"></img>
	           			<div ng-if="notification.notificationType == 'GRADE_NOTIFICATION'" class="md-avatar">
	           				<i class="icon ion-university" style="font-size:30px;position: relative;top: 0px;left: 10px;"></i>
	           			</div>
			            <div class="md-list-item-text compact" style="">
			              <h3 class="row noPM" style="width: 100%;" >
	                          <div class="upperCaseFirstLetter ellipsis" style="width: 85%;line-height: initial;">
	                          			{{notification.autor}}
	                          </div>
	                          <div class="boldCondensed" style="line-height: initial;width: 100px;text-align: right;">{{formatDate(notification.date)}}</div>
                          </h3>
                           <h3 class="noPM upperCaseFirstLetter ellipsis" style="width: 100%;line-height: initial;" >
                           			{{notification.title}}
                       	   </h3>
				          <p class="upperCaseFirstLetter ellipsis" style="line-height: initial;margin: 0px;color: rgba(0, 0, 0, 0.65);">{{notification.message}}</p>
				        <md-divider class="noPM"></md-divider>
				        </div>
			      	</md-list-item>
			      </md-list>
		      	</div>
		 </ion-scroll>
		 <ion-scroll style="width: 30%;float:left;height: 100%;border-left: 1px solid rgba(0,0,0,.08);">
		 	<md-toolbar style="background: #EEEEEE" class="shadowed">
			    <div class="md-toolbar-tools">
			      <h3>
			        <span>Detalhamento da notificação</span>
			      </h3>
			    </div>
			  </md-toolbar>
		 	<div ng-if="detailNotification == undefined" style="background: #F7F7F7;height:100%;">
		 		<div style="padding-top: 50%;margin-bottom: 20%;text-align: center;">
					<div class="ion-android-globe" style="font-size: 140px;"></div>
					<div style="font-size: 14px;">Selecione uma notificação para detalhar. </div>
		 		</div>
			</div>
			<div ng-if="detailNotification != undefined">
				<md-content md-theme="docs-dark" style="height: 75px;" layout-padding layout="row" layout-sm="column">
				    <md-input-container>
				      <label style="font-size: 18px">Autor</label>
				      <input style="color:white;" class="upperCaseFirstLetter"disabled="true" ng-model="detailNotification.autor">
				    </md-input-container>
				    <md-input-container>
				      <label style="font-size: 18px">Perfil</label>
				      <input style="color:white;" class="upperCaseFirstLetter" ng-model="perfil" disabled="true">
				    </md-input-container>
				</md-content>
				<md-input-container style="height: 75px;padding: 0 10px">
			        <label style="font-size: 18px">Título</label>
			        <input class="ellipsis" style="color:black;" ng-model="detailNotification.title" columns="1" md-maxlength="100" disabled="true"></input>
		      	</md-input-container>
				<md-input-container style="padding: 0 10px">
			        <label style="font-size: 18px;">Mensagem</label>
			        <textarea style="color:black;" ng-model="detailNotification.message" columns="1" md-maxlength="150" disabled="true"></textarea>
		      	</md-input-container>
		      	<div style="padding: 10px 11px">
			      	<div class="activeLabel" >Data e Hora</div>
			      	<div style="padding-top: 10px;">{{getAsDate(detailNotification.date)}} às {{getAsHour(detailNotification.date)}}</div>
		      	</div>
		      	<md-toolbar style="background: #EEEEEE" class="shadowed">
				    <div class="md-toolbar-tools">
				      <h3>
				        <span>Detalhamento do filtro</span>
				      </h3>
				    </div>
			  	</md-toolbar>
				<md-input-container style="padding: 10px 10px 0px 10px">
			        <label style="font-size: 18px;">Filtro</label>
			        <input class="ellipsis" style="color:black;" ng-model="cursos" disabled="true"></input>
		      	</md-input-container>
				<md-input-container ng-if="detailNotification.professor" style="padding: 10px 10px 0px 10px">
			        <label style="font-size: 18px;">Professor</label>
			        <input class="ellipsis" style="color:black;" ng-model="detailNotification.professor" disabled="true"></input>
		      	</md-input-container>
				<div style="padding: 0 11px;">
			      	<div class="activeLabel">
			      		{{detailNotification.classes ? 'Turmas' : ''}}
			      		{{detailNotification.students ? 'Alunos' : ''}}
			      		{{detailNotification.courses ? 'Cursos' : ''}}
		      		</div>
			      	<div class="TrigaChips" ng-repeat="item in detailNotification.classes track by $index">
			      		<div style="float:left;"> 
							<img  style="height: 32px;border-radius: 16px;-webkit-user-drag: none;" ng-src="img/triga3.jpg" alt="Coordenador" src="img/triga3.jpg">
						</div>
						 <div style="float:left; margin: 0px 8px;">{{item.nome}}</div>
		      		</div>
			      	<div class="TrigaChips" ng-repeat="item in detailNotification.studants track by $index">
			      		<div style="float:left;"> 
							<img  style="height: 32px;border-radius: 16px;-webkit-user-drag: none;" ng-src="img/triga3.jpg" alt="Coordenador" src="img/triga3.jpg">
						</div>
						 <div style="float:left; margin: 0px 8px;">{{item.nome}}</div>
		      		</div>
			      	<div class="TrigaChips" ng-repeat="item in detailNotification.courses track by $index">
			      		<div style="float:left;"> 
							<img  style="height: 32px;border-radius: 16px;-webkit-user-drag: none;" ng-src="img/triga3.jpg" alt="Coordenador" src="img/triga3.jpg">
						</div>
						 <div style="float:left; margin: 0px 8px;">{{item.name}}</div>
		      		</div>
		      		<div style="clear: both;padding: 5px 0px;"></div>
			      	<md-divider ng-if="detailNotification.classes || detailNotification.students || detailNotification.courses"style="border-top-style: dotted !important;padding: 5px 0px;"></md-divider>      		
		      	</div>		
		      	<md-input-container style="padding: 0 10px">
			        <label style="font-size: 18px;">Total de dispositivos impactados</label>
			        <input class="ellipsis" style="color:black;" ng-model="detailNotification.totalImpactedDevices" disabled="true"></input>
		      	</md-input-container>
		      	</div>
			</div>
			
		 </ion-scroll>
  </ion-content>
