<ion-view title="Monitorar notificações">
	<ion-header-bar  id="subHeader1" class="noPM subHeaderAnimationCondition " no-tap-scroll="true" style="height:64px !important;transform: translate3d(0em,0em,0em);" >
	</ion-header-bar>
  <ion-content style="top: 65px;" class="noPM">
  		<md-content class="chipsdemoContactChips shadowed" layout="column">
  			<div class="row " >
  				<div class="col">
		  		<md-input-container>
		          <label><h3 class="md-title" style="margin-bottom:0px;padding-left:10px;padding-top:10px;">Perfil</h3></label>
		          <input ng-model="user.firstName">
		        </md-input-container>
  				</div>
		        <div class="card col noPM" style="height: 200px !important; overflow: auto !important; z-index: 200;">
					<md-list-item class="md-2-line" ng-repeat="(index, contact) in allContacts"
				          ng-class="{'selected': !(contacts.indexOf(contact) < 0)}" ng-click="add(contact)" >
				        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
				        <div class="md-list-item-text compact">
				          <h3>{{contact.name}}</h3>
				          <p>{{contact.email}}</p>
				        </div>
				      </md-list-item>
		        </div>
  			</div>
		    <md-contact-chips
		        ng-model="contacts"
		        md-contacts="querySearch($query)"
		        md-contact-name="name"
		        md-contact-image="image"
		        md-require-match
		        filter-selected="filterSelected"
		        placeholder="Selecione um perfil para filtar.">
		    </md-contact-chips>
		    <md-list class="fixedRows">
		      <md-subheader class="md-no-sticky">Perfis</md-subheader>
		      <md-list-item class="md-2-line contact-item" ng-repeat="(index, contact) in allContacts"
		          ng-class="{'selected': !(contacts.indexOf(contact) < 0)}" ng-click="add(contact)" >
		        <img ng-src="{{contact.image}}" class="md-avatar" alt="{{contact.name}}" />
		        <div class="md-list-item-text compact">
		          <h3>{{contact.name}}</h3>
		          <p>{{contact.email}}</p>
		        </div>
		      </md-list-item>
		    </md-list>
		    <h3 class="md-title" style="margin-bottom:0px;padding-left:10px;">Nome:</h3>
		    <md-contact-chips
		        ng-model="names"
		        md-contacts="searchNotifications($query)"
		        md-contact-name="autor"
		        md-contact-image="image"
		        md-contact-email="email"
		        md-require-match
		        filter-selected="filterSelected"
		        placeholder="Digite um nome para filtrar">
		    </md-contact-chips>
		  </md-content>
	    <div id="notificationList" class="list">
			<div   layout="column" flex layout-fill>
			    	<div ng-if="filtereNotifications.length == 0" style="margin-top: 10%;margin-bottom: 20%;text-align: center;">
						<div class="ion-android-globe" style="font-size: 100px;"></div>
						<div style="font-size: 24px;">Nenhuma notificação!</div>
					</div>
			      <md-list>
			      
			        <md-list-item class="md-3-line" ng-model="filtereNotifications" ng-repeat="notification in filtereNotifications track by $index" >
			            <img ng-if="notification.notificaitonType == 'TRIGA'"  class="md-avatar"  ng-src="img/triga3.jpg"></img>
	           			<img ng-if="notification.notificaitonType == 'INSTITUTION'" class="md-avatar"  ng-src="{{institutionIcon}}"></img>
	           			<div ng-if="notification.notificaitonType == 'GRADE_NOTIFICATION'" class="md-avatar"  
	           				><i class="icon ion-university" style="font-size:30px;position: relative;top: 0px;left: 10px;"></i>
	           			</div>
			            <div class="md-list-item-text">
			              <h3 class="row noPM" style="width: 100%;" >
	                          <div class="upperCaseFirstLetter" style="width: 85%;line-height: initial;">
	                          			{{notification.autor}}
	                          </div>
	                          <div class="boldCondensed" style="line-height: initial;width: 100px;text-align: right;">{{formatDate(notification.date)}}</div>
                          </h3>
                           <h3 class="row noPM" style="width: 100%;" >
                           		<div class="upperCaseFirstLetter" style="line-height: initial;">
                           			{{notification.title}}
                           		</div>
                       	   </h3>
				          <h4 class="upperCaseFirstLetter" style="line-height: initial;margin: 0px;color: rgba(0, 0, 0, 0.65);">{{notification.message}}</h4>
				        <md-divider ></md-divider>
				        </div>
			        </md-list-item>
			      </md-list>
	      	</div>
   		</div>
  </ion-content>
</ion-view>
